<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="File"
                name="allfile"
                fileName="c:\temp\logs\memory-wallet.web\${level}-${shortdate}.log"
                layout="${longdate}|${aspnet-traceidentifier}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
                archiveFileName ="c:\temp\logs\memory-wallet.web\Archives\${level}.${date:format=yyyy-MM-dd}.{##}.log"
                archiveAboveSize ="16777216"
                archiveNumbering="Rolling"
                archiveEvery ="Day"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="50"
                concurrentWrites="true"
                encoding = "utf-8" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    </rules>
</nlog>