akka {
  stdout-loglevel = INFO
  loglevel = INFO
  log-config-on-start = on
  loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]

  actor {
    provider = cluster

    deployment {
      /player-managers {
        router = consistent-hashing-group
        routees.paths = ["/user/player-manager"]
        cluster {
          enabled = on
          allow-local-routees = off
          max-nr-of-instances-per-node = 5
          user-role = "player-manager"
        }
      }

      /hub {
        router = broadcast-group
        routees.paths = ["/user/web-hub"]
        cluster {
          enabled = on
          allow-local-routees = on
          use-role = web
        }
      }


    }

    debug {
      receive = on
      autoreceive = on
      lifecycle = on
      event-stream = on
      unhandled = on
    }
  }

  remote {
    dot-netty.tcp {
      hostname = localhost
      port = 6002
    }
  }

  cluster {
    seed-nodes = [
      "akka.tcp://sbk@localhost:2551"
    ]
    roles = ["web"]

  }
}