<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info">

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <target name="console" xsi:type="Console"
                layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

        <target name="file" xsi:type="File"
                layout="${longdate}|${uppercase:${level}}|${logger}|${message:withException=true}"
                fileName="c:\temp\logs\memory-wallet\${level}.${date:format=yyyy-MM-dd}.log"
                archiveFileName ="c:\temp\logs\memory-wallet\_archives\${level}.${date:format=yyyy-MM-dd}.{##}.log"
                archiveAboveSize ="16777216"
                archiveNumbering="Rolling"
                archiveEvery ="Day"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="50"
                concurrentWrites="true"
                encoding="utf-8" />


    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Info" writeTo="file,console" />

    </rules>
</nlog>