@{
}

<div>
    <h1 class="display-5">Register player</h1>
    <form method="post" action="register">
        
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id='name' name="name" placeholder="John Oliver">
        </div>
        
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id='email' name="email" placeholder="name@example.com">
        </div>
        
        <button type="submit" class="btn btn-primary mb-2">Register</button>
        
    </form>
</div>