@model MemoryWallet.Web.ViewModel.LoginViewModel
       
<form action="Home/Login" method="post">
   <input name="Email" type="text" />
   <input type="password" name="Password" />
   
   <button type="submit">Login</button>
</form>